

<div class="card">
    <div class="card-header">
        Tabela do Sistema
    </div>

    <div class="card-body">
        <ol class="list-group">
            <li class="list-group-item">Itens da Lista</li>
            <li class="list-group-item">Itens da Lista</li>
            <li class="list-group-item">Itens da Lista</li>
            <li class="list-group-item">Itens da Lista</li>
        </ol>
    </div>
</div>
